    - name: disabling mysql module
      ansible.builtin.shell: dnf module disable mysql -y
    - name: Copying mysql.repo file
      ansible.builtin.copy:
        src: /home/centos/Projectwork/Ansible/mysql.repo
        dest: /etc/yum.repos.d/mysql.repo
    - name: Installing mysql 
      ansible.builtin.dnf:
        name: mysql-community-server
        state: latest
    - name: Enabling mysqld
      ansible.builtin.service:
        name: mysqld
        enabled: yes
    - name: Starting mysqld service
      ansible.builtin.service:
       name: mysqld
       state: started
    - name: Changing the defautl root password of mysql
      ansible.builtin.shell: mysql_secure_installation --set-root-pass RoboShop@1